<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>

    <link rel="stylesheet" href="../statics/css/signup1.css">

</head>

<body>
    <div class="Logo-Container"> 
        <img src="../statics/svg/Logo.svg" alt="logo" class="Logo">
    </div>

    <div class="Signup-Container">
        <div class="Signup-text">회원가입</div>

        <div class="Profile-Container">
            <div class="Profile-Circle">
                <img src="../statics/svg/Profile.svg" alt="profile" class="Profile">
            </div>

            <div class="Profile-Add"> 
                <img src="../statics/svg/Profile Add.svg" alt="add" class="Add">
            </div>
        </div>

        <div class="ID-Container">
            <div class="ID-text">아이디(이메일)를 입력하세요</div>
        </div>

        <div class="Password-Container">
            <div class="Password-text">비밀번호를 입력하세요</div>
        </div>

        <div class="Check-Container">
            <div class="Check-text">비밀번호를 한 번 더 입력하세요</div>
        </div>

        <div class="Nickname-Container">
            <div class="Nickname-text">닉네임을 입력하세요</div>
            <div class="Nickname-box">중복확인</div>
        </div>

        <div class="Finish-Container">
            <div class="Finish-text">가입하기</div>
        </div>
    </div>
</body>
</html>