{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href= "{% static 'css/base.css' %}" />
    {% block header_css %}  
    {% endblock %}
  </head>

  <body>
    <div class="nav">
      <a href="{% url 'picture_list'%}" id="diary">일기 쓰기</a>
      <a href="my_picture" id="mydiary">마이 페이지</a>
      <div id="blank"></div>
      <a href= {% url 'account_logout' %} id="logout">로그아웃</a>
    </div>
    {% block contents %}{% endblock %}
  <body>
</html>
