{% extends 'base.html' %}
{% load static %}
{% block header_css %}
<link rel="stylesheet" href= "{% static 'css/bear.css' %}" />
{% endblock%}
{% block contents %}
    {% if colored_dot == 0 %}
    <section class="card">
      <img src="../static/img/bear.png" class="img"></div>
      <div class="dots">
        <div class="column">
            <p class="num" id="num1">1</p>
            <form action = "{% url 'choosen_picture_get' diary_id.0 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot1" ></button>
            </form>
            
            <div class="dot seven" id="dot7"></div>
            <p class="num seven" id="num7">7</p>
        </div>
        <div class="column">
            <p class="num" id="num2">2</p>
            <div class="dot" id="dot2"></div>
            <div class="dot" id="dot6" ></div>
            <p class="num" id="num6">6</p>
        </div>
        <div class="column">
            <p class="num" id="num3">3</p>
            <div class="dot" id="dot3"></div>
            <div class="dot" id="dot5" ></div>
            <p class="num" id="num5">5</p>
        </div>
        <div class="column4" style="margin-bottom: 31px;">
            <div class="dot" id="dot4" ></div>
        </div>
        <div class="column">
            <p class="num" id="num4">4</p>
        </div>

      </div>
      <div class="canvases">
        <div class="flex">
          <div class="c12">
            <canvas id="onetwo" width="20" height="60"></canvas>
          </div>
          <div class="c67">
            <canvas id="sixseven" width="20" height="60"></canvas>
          </div>
  
        </div>
        <div class="flex">
          <div class="c23">
            <canvas id="twothree" width="36" height="65"></canvas>
          </div>
          <div class="c56">
            <canvas id="fivesix" width="36" height="65"></canvas>
          </div>

        </div>
        <div class="flex">

          <div class="c34">
            <canvas id="threefour" width="88" height="40"></canvas>
          </div>
          <div class="c45">
            <canvas id="fourfive" width="88" height="40"></canvas>
          </div>
        </div>
        
        
      </div>
    </section>

    <script src="../static/js/bear.js"></script>
    {% elif colored_dot == 1 %}
    <section class="card">
      <img src="../static/img/bear.png" class="img"></div>
      <div class="dots">
        <div class="column">
            <p class="num" id="num1">1</p>
            <form action = "{% url 'choosen_picture_get' diary_id.0 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot1" ></button>
            </form>
            
            <div class="dot seven" id="dot7"></div>
            <p class="num seven" id="num7">7</p>
        </div>
        <div class="column">
            <p class="num" id="num2">2</p>
            <form action = "{% url 'choosen_picture_get' diary_id.1 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot2" ></button>
            </form>
           
            <div class="dot" id="dot6" ></div>
            <p class="num" id="num6">6</p>
        </div>
        <div class="column">
            <p class="num" id="num3">3</p>
            <div class="dot" id="dot3"></div>
            <div class="dot" id="dot5" ></div>
            <p class="num" id="num5">5</p>
        </div>
        <div class="column">
            <div class="dot" id="dot4" ></div>
        </div>
        <div class="column">
            <p class="num" id="num4">4</p>
        </div>

      </div>
      <div class="canvases">
        <div class="flex">
          <div class="c12">
            <canvas id="onetwo" width="20" height="60"></canvas>
          </div>
          <div class="c67">
            <canvas id="sixseven" width="20" height="60"></canvas>
          </div>
  
        </div>
        <div class="flex">
          <div class="c23">
            <canvas id="twothree" width="36" height="65"></canvas>
          </div>
          <div class="c56">
            <canvas id="fivesix" width="36" height="65"></canvas>
          </div>

        </div>
        <div class="flex">

          <div class="c34">
            <canvas id="threefour" width="88" height="40"></canvas>
          </div>
          <div class="c45">
            <canvas id="fourfive" width="88" height="40"></canvas>
          </div>
        </div>
        
        
      </div>
    </section>

    <script src="../static/js/bear1.js"></script>
    {% elif colored_dot == 2 %}
    <section class="card">
      <img src="../static/img/bear.png" class="img"></div>
      <div class="dots">
        <div class="column">
            <p class="num" id="num1">1</p>
            <form action = "{% url 'choosen_picture_get' diary_id.0 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot1" ></button>
            </form>
            
            <div class="dot seven" id="dot7"></div>
            <p class="num seven" id="num7">7</p>
        </div>
        <div class="column">
            <p class="num" id="num2">2</p>
            <form action = "{% url 'choosen_picture_get' diary_id.1 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot2" ></button>
            </form>
           
            <div class="dot" id="dot6" ></div>
            <p class="num" id="num6">6</p>
        </div>
        <div class="column">
            <p class="num" id="num3">3</p>
            <form action = "{% url 'choosen_picture_get' diary_id.2 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot3" ></button>
            </form>
            
            <div class="dot" id="dot5" ></div>
            <p class="num" id="num5">5</p>
        </div>
        <div class="column">
            <div class="dot" id="dot4"></div>
        </div>
        <div id="column4">
            <p class="num" id="num4">4</p>
        </div>

      </div>
      <div class="canvases">
        <div class="flex">
          <div class="c12">
            <canvas id="onetwo" width="20" height="60"></canvas>
          </div>
          <div class="c67">
            <canvas id="sixseven" width="20" height="60"></canvas>
          </div>
  
        </div>
        <div class="flex">
          <div class="c23">
            <canvas id="twothree" width="36" height="65"></canvas>
          </div>
          <div class="c56">
            <canvas id="fivesix" width="36" height="65"></canvas>
          </div>

        </div>
        <div class="flex">

          <div class="c34">
            <canvas id="threefour" width="88" height="40"></canvas>
          </div>
          <div class="c45">
            <canvas id="fourfive" width="88" height="40"></canvas>
          </div>
        </div>
        
        
      </div>
    </section>

    <script src="../static/js/bear2.js"></script>
    {% elif colored_dot == 3 %}
    <section class="card">
      <img src="../static/img/bear.png" class="img"></div>
      <div class="dots">
        <div class="column">
            <p class="num" id="num1">1</p>
            <form action = "{% url 'choosen_picture_get' diary_id.0 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot1" ></button>
            </form>
            
            <div class="dot seven" id="dot7"></div>
            <p class="num seven" id="num7">7</p>
        </div>
        <div class="column">
            <p class="num" id="num2">2</p>
            <form action = "{% url 'choosen_picture_get' diary_id.1 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot2" ></button>
            </form>
           
            <div class="dot" id="dot6" ></div>
            <p class="num" id="num6">6</p>
        </div>
        <div class="column">
            <p class="num" id="num3">3</p>
            <form action = "{% url 'choosen_picture_get' diary_id.2 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot3" ></button>
            </form>
            
            <div class="dot" id="dot5" ></div>
            <p class="num" id="num5">5</p>
        </div>
        <div class="column">
          <form action = "{% url 'choosen_picture_get' diary_id.3 member_picture_id %}"  method = "GET" >
            {% csrf_token %}
            <button class="dot" id="dot4" ></button>
          </form>
            
        </div>
        <div class="column">
            <p class="num" id="num4">4</p>
        </div>

      </div>
      <div class="canvases">
        <div class="flex">
          <div class="c12">
            <canvas id="onetwo" width="20" height="60"></canvas>
          </div>
          <div class="c67">
            <canvas id="sixseven" width="20" height="60"></canvas>
          </div>
  
        </div>
        <div class="flex">
          <div class="c23">
            <canvas id="twothree" width="36" height="65"></canvas>
          </div>
          <div class="c56">
            <canvas id="fivesix" width="36" height="65"></canvas>
          </div>

        </div>
        <div class="flex">

          <div class="c34">
            <canvas id="threefour" width="88" height="40"></canvas>
          </div>
          <div class="c45">
            <canvas id="fourfive" width="88" height="40"></canvas>
          </div>
        </div>
        
        
      </div>
    </section>

    <script src="../static/js/bear3.js"></script>
    {% elif colored_dot == 4 %}
    <section class="card">
      <img src="../static/img/bear.png" class="img"></div>
      <div class="dots">
        <div class="column">
            <p class="num" id="num1">1</p>
            <form action = "{% url 'choosen_picture_get' diary_id.0 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot1" ></button>
            </form>
            
            <div class="dot seven" id="dot7"></div>
            <p class="num seven" id="num7">7</p>
        </div>
        <div class="column">
            <p class="num" id="num2">2</p>
            <form action = "{% url 'choosen_picture_get' diary_id.1 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot2" ></button>
            </form>
           
            <div class="dot" id="dot6" ></div>
            <p class="num" id="num6">6</p>
        </div>
        <div class="column">
            <p class="num" id="num3">3</p>
            <form action = "{% url 'choosen_picture_get' diary_id.2 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot3" ></button>
            </form>
            <form action = "{% url 'choosen_picture_get' diary_id.4 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot5" ></button>
            </form>
            
            <p class="num" id="num5">5</p>
        </div>
        <div class="column">
          <form action = "{% url 'choosen_picture_get' diary_id.3 member_picture_id %}"  method = "GET" >
            {% csrf_token %}
            <button class="dot" id="dot4" ></button>
          </form>
            
        </div>
        <div class="column">
            <p class="num" id="num4">4</p>
        </div>

      </div>
      <div class="canvases">
        <div class="flex">
          <div class="c12">
            <canvas id="onetwo" width="20" height="60"></canvas>
          </div>
          <div class="c67">
            <canvas id="sixseven" width="20" height="60"></canvas>
          </div>
  
        </div>
        <div class="flex">
          <div class="c23">
            <canvas id="twothree" width="36" height="65"></canvas>
          </div>
          <div class="c56">
            <canvas id="fivesix" width="36" height="65"></canvas>
          </div>

        </div>
        <div class="flex">

          <div class="c34">
            <canvas id="threefour" width="88" height="40"></canvas>
          </div>
          <div class="c45">
            <canvas id="fourfive" width="88" height="40"></canvas>
          </div>
        </div>
        
        
      </div>
    </section>

    <script src="../static/js/bear4.js"></script>
    {% elif colored_dot == 5 %}
    <section class="card">
      <img src="../static/img/bear.png" class="img"></div>
      <div class="dots">
        <div class="column">
            <p class="num" id="num1">1</p>
            <form action = "{% url 'choosen_picture_get' diary_id.0 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot1" ></button>
            </form>
            
            <div class="dot seven" id="dot7"></div>
            <p class="num seven" id="num7">7</p>
        </div>
        <div class="column">
            <p class="num" id="num2">2</p>
            <form action = "{% url 'choosen_picture_get' diary_id.1 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot2" ></button>
            </form>
            <form action = "{% url 'choosen_picture_get' diary_id.5 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot6" ></button>
            </form>
            
            <p class="num" id="num6">6</p>
        </div>
        <div class="column">
            <p class="num" id="num3">3</p>
            <form action = "{% url 'choosen_picture_get' diary_id.2 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot3" ></button>
            </form>
            <form action = "{% url 'choosen_picture_get' diary_id.4 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot5" ></button>
            </form>
            
            <p class="num" id="num5">5</p>
        </div>
        <div class="column">
          <form action = "{% url 'choosen_picture_get' diary_id.3 member_picture_id %}"  method = "GET" >
            {% csrf_token %}
            <button class="dot" id="dot4" ></button>
          </form>
            
        </div>
        <div class="column">
            <p class="num" id="num4">4</p>
        </div>

      </div>
      <div class="canvases">
        <div class="flex">
          <div class="c12">
            <canvas id="onetwo" width="20" height="60"></canvas>
          </div>
          <div class="c67">
            <canvas id="sixseven" width="20" height="60"></canvas>
          </div>
  
        </div>
        <div class="flex">
          <div class="c23">
            <canvas id="twothree" width="36" height="65"></canvas>
          </div>
          <div class="c56">
            <canvas id="fivesix" width="36" height="65"></canvas>
          </div>

        </div>
        <div class="flex">

          <div class="c34">
            <canvas id="threefour" width="88" height="40"></canvas>
          </div>
          <div class="c45">
            <canvas id="fourfive" width="88" height="40"></canvas>
          </div>
        </div>
        
        
      </div>
    </section>

    <script src="../static/js/bear5.js"></script>
    {% elif colored_dot == 6 %}
    <section class="card">
      <img src="../static/img/bear.png" class="img"></div>
      <div class="dots">
        <div class="column">
            <p class="num" id="num1">1</p>
            <form action = "{% url 'choosen_picture_get' diary_id.0 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot1" ></button>
            </form>
            <form action = "{% url 'choosen_picture_get' diary_id.6 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot7" ></button>
            </form>
            
            <p class="num seven" id="num7">7</p>
        </div>
        <div class="column">
            <p class="num" id="num2">2</p>
            <form action = "{% url 'choosen_picture_get' diary_id.1 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot2" ></button>
            </form>
            <form action = "{% url 'choosen_picture_get' diary_id.5 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot6" ></button>
            </form>
            
            <p class="num" id="num6">6</p>
        </div>
        <div class="column">
            <p class="num" id="num3">3</p>
            <form action = "{% url 'choosen_picture_get' diary_id.2 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot3" ></button>
            </form>
            <form action = "{% url 'choosen_picture_get' diary_id.4 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot5" ></button>
            </form>
            
            <p class="num" id="num5">5</p>
        </div>
        <div class="column">
          <form action = "{% url 'choosen_picture_get' diary_id.3 member_picture_id %}"  method = "GET" >
            {% csrf_token %}
            <button class="dot" id="dot4" ></button>
          </form>
            
        </div>
        <div class="column">
            <p class="num" id="num4">4</p>
        </div>

      </div>
      <div class="canvases">
        <div class="flex">
          <div class="c12">
            <canvas id="onetwo" width="20" height="60"></canvas>
          </div>
          <div class="c67">
            <canvas id="sixseven" width="20" height="60"></canvas>
          </div>
  
        </div>
        <div class="flex">
          <div class="c23">
            <canvas id="twothree" width="36" height="65"></canvas>
          </div>
          <div class="c56">
            <canvas id="fivesix" width="36" height="65"></canvas>
          </div>

        </div>
        <div class="flex">

          <div class="c34">
            <canvas id="threefour" width="88" height="40"></canvas>
          </div>
          <div class="c45">
            <canvas id="fourfive" width="88" height="40"></canvas>
          </div>
        </div>
        
        
      </div>
    </section>

    <script src="../static/js/bear6.js"></script>
    {% else %}
    <section class="card">
      <img src="../static/img/bear.png" class="img"></div>
      <div class="dots">
        <div class="column">
            <p class="num" id="num1">1</p>
            <form action = "{% url 'choosen_picture_get' diary_id.0 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot1" ></button>
            </form>
            <form action = "{% url 'choosen_picture_get' diary_id.6 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot7" ></button>
            </form>
            
            <p class="num seven" id="num7">7</p>
        </div>
        <div class="column">
            <p class="num" id="num2">2</p>
            <form action = "{% url 'choosen_picture_get' diary_id.1 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot2" ></button>
            </form>
            <form action = "{% url 'choosen_picture_get' diary_id.5 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot6" ></button>
            </form>
            
            <p class="num" id="num6">6</p>
        </div>
        <div class="column">
            <p class="num" id="num3">3</p>
            <form action = "{% url 'choosen_picture_get' diary_id.2 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot3" ></button>
            </form>
            <form action = "{% url 'choosen_picture_get' diary_id.4 member_picture_id %}"  method = "GET" >
              {% csrf_token %}
              <button class="dot" id="dot5" ></button>
            </form>
            
            <p class="num" id="num5">5</p>
        </div>
        <div class="column">
          <form action = "{% url 'choosen_picture_get' diary_id.3 member_picture_id %}"  method = "GET" >
            {% csrf_token %}
            <button class="dot" id="dot4" ></button>
          </form>
            
        </div>
        <div class="column">
            <p class="num" id="num4">4</p>
        </div>

      </div>
      <div class="canvases">
        <div class="flex">
          <div class="c12">
            <canvas id="onetwo" width="20" height="60"></canvas>
          </div>
          <div class="c67">
            <canvas id="sixseven" width="20" height="60"></canvas>
          </div>
  
        </div>
        <div class="flex">
          <div class="c23">
            <canvas id="twothree" width="36" height="65"></canvas>
          </div>
          <div class="c56">
            <canvas id="fivesix" width="36" height="65"></canvas>
          </div>

        </div>
        <div class="flex">

          <div class="c34">
            <canvas id="threefour" width="88" height="40"></canvas>
          </div>
          <div class="c45">
            <canvas id="fourfive" width="88" height="40"></canvas>
          </div>
        </div>
        
        
      </div>
    </section>

    <script src="../static/js/bear7.js"></script>
    {% endif %}
{% endblock %}
