
{% extends 'base.html' %}
{% load static %}  
{% block header_css %}
<link rel="stylesheet" href= "{% static 'css/diary.css' %}" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
<style>
  @import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
  </style>
  
{% endblock %}
{% block contents %}
<div class="body">
 
  {% comment %} <img src="{%static 'img/tape.png'%}" id="tape"> {% endcomment %}

  <div class="whole">

     <!-- <script src="../static/js/time.js"></script> -->

    <div class="input">
      <form action="{%url 'choosen_picture_patch' choosen_picture_dic.diary_id choosen_picture_dic.member_picture_id %}" method="Post">
        {% comment %} <img src="{{ element.picture_complete_info.url }}" class="card-img" /> {% endcomment %}
      
      {% csrf_token %}
      <!-- {{ choosen_picture_dic }} -->
        <img src="{{ choosen_picture_dic.tape_info.url }}" id="tape">
        
        <br>
        <div class="wrap">

            <select name="font-size" class="font-size">
              <option value="">글꼴크기</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="25">25</option>
            </select>
            &nbsp;
            <select name="font-type" class="font-type">
              <option value="">글꼴선택</option>
              <option value="Noto Sans Kr">Noto Sans Kr</option>
              <option value="Acc어린이마음고운체">Acc어린이마음고운체</option>
              <option value="코트라손글씨체">코트라손글씨체</option>
              <option value="KoPubWorld바탕">KoPubWorld바탕</option>
              <option value="나눔손글씨 딸에게 엄마가">나눔손글씨딸에게엄마가</option>
            </select>
            
            
          
            <p class="time">{{choosen_picture_dic.month}} {{choosen_picture_dic.day}}, {{choosen_picture_dic.year}}</p>
            <p class="time">{{choosen_picture_dic.day_en}}</p>
  
          

          <!-- <input type="text" class="weather" placeholder="날씨" value="{{ choosen_picture_dic.weather }}" name = "weather"/>
          <input type="text" class="feeling" placeholder="기분" value="{{ choosen_picture_dic.feeling }}" name = "feeling"/> -->
          <br>
          <input type="text" class="title" placeholder="제목" value="{{ choosen_picture_dic.title }}" name = "title"/>
    
      
        </div>  
        <div style="display: flex; justify-content: center;">
          <img src="/static/img/Line.png" id="line">


        </div>

        <textarea type="text" class="text" placeholder="내용" value="{{ choosen_picture_dic.content }}" class="text" style="word-wrap:break-word" name = "content">{{ choosen_picture_dic.content }}</textarea>
        <div class="sticker-zone">
          <div id="tape-bar">
            <div style="display: flex; flex-direction: row; margin: 2px 2px 0px 2px;">
              <p id="sticker-font">스티커</p>
              <img src="{%static 'img/x.png'%}" id="x" onClick="xClick()">
            </div>
            <div style="display: flex; justify-content:center">
              <hr style="margin: 0px 0px 10px 0px;width: 200px;">
            </div>
            {% for tape in choosen_picture_dic.tape_all %}
              <label for=  "foreign_key_tape{{ forloop.counter }}"><input type = "radio" name = "foreign_key_tape" id = "tape{{ tape_data.tape_id }}" class ="tape-style thin-tape"  value =  "{{ tape_data.tape_id }}" ></label>
              <img src = "{{ tape.tape_info.url }}" class ="tape-style thin-tape" onclick = "tape{{ tape.tape_id }}Click()">       
             
            {% endfor %}
            {% comment %} <div id="tape-img" style="display: flex; justify-content:center">
              <input type="radio" id="radio0" name="radio0" style="display: none;">
              <label for="radio0" onclick="tape0Click()">
                <img src="{%static 'img/tape.png'%}" id="tape0" class="tape-style" style="padding-bottom: 1vh;" onclick="tape0Click()">
              </label>
      
              <input type="radio" id="radio1" name="radio1" style="display: none;">
              <label for="radio1">
              <img src="{%static 'img/tape1.png'%}" id="tape1" class="tape-style thin-tape" style="margin-top: -20px;" onclick="tape1Click()">
              </label>
      
              <input type="radio" id="radio2" name="radio2" style="display: none;">
              <label for="radio2">
                <img src="{%static 'img/tape2.png'%}" id="tape2" class="tape-style thin-tape" onclick="tape2Click()">
              </label>
      
              <input type="radio" id="radio3" name="radio3" style="display: none;">
              <label for="radio3">
              <img src="{%static 'img/tape3.png'%}" id="tape3" class="tape-style thin-tape" onclick="tape3Click()">
              </label>
      
              <input type="radio" id="radio4" name="radio4" style="display: none;">
              <label for="radio4">
              <img src="{%static 'img/tape4.png'%}" id="tape4" class="tape-style thin-tape" onclick="tape4Click()">
              </label>
      
              <input type="radio" id="radio5" name="radio5" style="display: none;">
              <label for="radio5">
              <img src="{%static 'img/tape5.png'%}" id="tape5" class="tape-style thin-tape" onclick="tape5Click()">
              </label>
      
              <input type="radio" id="radio6" name="radio6" style="display: none;">
              <label for="radio6">
              <img src="{%static 'img/tape6.png'%}" id="tape6" class="tape-style thin-tape" onclick="tape6Click()">
              </label>
      
              <input type="radio" id="radio7" name="radio7" style="display: none;">
              <label for="radio7">
              <img src="{%static 'img/tape7.png'%}" id="tape7" class="tape-style thin-tape" onclick="tape7Click()">
              </label>
      
              <input type="radio" id="radio8" name="radio8" style="display: none;">
              <label for="radio8">
              <img src="{%static 'img/tape8.png'%}" id="tape8" class="tape-style thin-tape" onclick="tape8Click()">
            </label>
      
              <input type="radio" id="radio9" name="radio9" style="display: none;">
              <label for="radio9">
              <img src="{%static 'img/tape9.png'%}" id="tape9" class="tape-style"  onclick="tape9Click()">
             </label>
      
             <input type="radio" id="radio10" name="radio10" style="display: none;">
             <label for="radio10">
              <img src="{%static 'img/tape10.png'%}" id="tape10" class="tape-style"   onclick="tape10Click()">
              </label>
      
              <input type="radio" id="radio11" name="radio11" style="display: none;">
              <label for="radio11">        
              <img src="{%static 'img/tape11.png'%}" id="tape11" class="tape-style"    onclick="tape11Click()">
             </label>
            </div> {% endcomment %}
          </div>
      
        </div> 
        <div class="save">
          <input type="submit" value="저장" class="button submit"/>
          <a href = "{% url 'init_picture' choosen_picture_dic.picture_id %}" ><input type="button" value="뒤로가기" class="button reset"> </a>
        </div>
      </div>
      
      </form>
    </div>
  </div>
  <img src="{%static 'img/smile.png'%}" id="smile-sticker" onclick="smileClick()">

  {% comment %} <div class="sticker-zone">
    <div id="tape-bar">
      <div style="display: flex; flex-direction: row; margin: 2px 2px 0px 2px;">
        <p id="sticker-font">스티커</p>
        <img src="{%static 'img/x.png'%}" id="x" onClick="xClick()">
      </div>
      <div style="display: flex; justify-content:center">
        <hr style="margin: 0px 0px 10px 0px;width: 200px;">
      </div>
      <div id="tape-img" style="display: flex; justify-content:center">
        <input type="radio" id="radio0" name="radio0" style="display: none;">
        <label for="radio0" onclick="tape0Click()">
          <img src="{%static 'img/tape.png'%}" id="tape0" class="tape-style" style="padding-bottom: 1vh;" onclick="tape0Click()">
        </label>

        <input type="radio" id="radio1" name="radio1" style="display: none;">
        <label for="radio1">
        <img src="{%static 'img/tape1.png'%}" id="tape1" class="tape-style thin-tape" style="margin-top: -20px;" onclick="tape1Click()">
        </label>

        <input type="radio" id="radio2" name="radio2" style="display: none;">
        <label for="radio2">
          <img src="{%static 'img/tape2.png'%}" id="tape2" class="tape-style thin-tape" onclick="tape2Click()">
        </label>

        <input type="radio" id="radio3" name="radio3" style="display: none;">
        <label for="radio3">
        <img src="{%static 'img/tape3.png'%}" id="tape3" class="tape-style thin-tape" onclick="tape3Click()">
        </label>

        <input type="radio" id="radio4" name="radio4" style="display: none;">
        <label for="radio4">
        <img src="{%static 'img/tape4.png'%}" id="tape4" class="tape-style thin-tape" onclick="tape4Click()">
        </label>

        <input type="radio" id="radio5" name="radio5" style="display: none;">
        <label for="radio5">
        <img src="{%static 'img/tape5.png'%}" id="tape5" class="tape-style thin-tape" onclick="tape5Click()">
        </label>

        <input type="radio" id="radio6" name="radio6" style="display: none;">
        <label for="radio6">
        <img src="{%static 'img/tape6.png'%}" id="tape6" class="tape-style thin-tape" onclick="tape6Click()">
        </label>

        <input type="radio" id="radio7" name="radio7" style="display: none;">
        <label for="radio7">
        <img src="{%static 'img/tape7.png'%}" id="tape7" class="tape-style thin-tape" onclick="tape7Click()">
        </label>

        <input type="radio" id="radio8" name="radio8" style="display: none;">
        <label for="radio8">
        <img src="{%static 'img/tape8.png'%}" id="tape8" class="tape-style thin-tape" onclick="tape8Click()">
      </label>

        <input type="radio" id="radio9" name="radio9" style="display: none;">
        <label for="radio9">
        <img src="{%static 'img/tape9.png'%}" id="tape9" class="tape-style"  onclick="tape9Click()">
       </label>

       <input type="radio" id="radio10" name="radio10" style="display: none;">
       <label for="radio10">
        <img src="{%static 'img/tape10.png'%}" id="tape10" class="tape-style"   onclick="tape10Click()">
        </label>

        <input type="radio" id="radio11" name="radio11" style="display: none;">
        <label for="radio11">        
        <img src="{%static 'img/tape11.png'%}" id="tape11" class="tape-style"    onclick="tape11Click()">
       </label>
      </div>
    </div>

  </div> {% endcomment %}
</div>

<script>
  const sticker=document.querySelector("#tape-bar");
  const smile=document.querySelector("#smile-sticker");
  const x=document.querySelector("#x");
  const tape=document.querySelector("#tape");
  const tape0=document.querySelector("#tape0");
  const tape1=document.querySelector("#tape1");
  const tape2=document.querySelector("#tape2");
  const tape3=document.querySelector("#tape3");
  const tape4=document.querySelector("#tape4");
  const tape5=document.querySelector("#tape5");
  const tape6=document.querySelector("#tape6");
  const tape7=document.querySelector("#tape7");
  const tape8=document.querySelector("#tape8");
  const tape9=document.querySelector("#tape9");
  const tape10=document.querySelector("#tape10");
  const tape11=document.querySelector("#tape11");
  const box=document.querySelector(".sticker-zone");

  const smileClick=()=>{
    sticker.style.visibility="visible";
    smile.style.display="none";

  }
  const xClick=()=>{
    sticker.style.visibility="hidden";
    smile.style.display="block";
  }
  const tape1Click=()=>{
    tape.src="{%static 'img/tape.png'%}"
    tape.style.marginTop="2vh";
    box.style.marginTop="10px"
  }
//  d
  const tape2Click=()=>{
    tape.src="{%static 'img/tape1.png'%}";
    tape.style.marginTop="5vh";
    box.style.marginTop="35px"

  }

  const tape3Click=()=>{
    tape.src="{%static 'img/tape2.png'%}";
    tape.style.marginTop="5vh";
    box.style.marginTop="35px"


  }
  const tape4Click=()=>{
    tape.src="{%static 'img/tape3.png'%}"
    tape.style.marginTop="5vh";
    box.style.marginTop="35px"


  }
  const tape5Click=()=>{
    tape.src="{%static 'img/tape4.png'%}"
    tape.style.marginTop="5vh";
    box.style.marginTop="35px"


  }
  const tape6Click=()=>{
    tape.src="{%static 'img/tape5.png'%}"
    tape.style.marginTop="5vh";
    box.style.marginTop="35px"

  }
  const tape7Click=()=>{
    tape.src="{%static 'img/tape6.png'%}"
    tape.style.marginTop="5vh";
    box.style.marginTop="35px"

  }
  const tape8Click=()=>{
    tape.src="{%static 'img/tape7.png'%}"
    tape.style.marginTop="5vh";
    box.style.marginTop="35px"

  }
  const tape9Click=()=>{
    tape.src="{%static 'img/tape8.png'%}"    
    tape.style.marginTop="5vh";
    box.style.marginTop="35px"

  }
  const tape10Click=()=>{
    tape.src="{%static 'img/tape9.png'%}"
    tape.style.marginTop="2vh";
    box.style.marginTop="5px"

  }
  const tape11Click=()=>{
    tape.src="{%static 'img/tape10.png'%}"
    tape.style.marginTop="2vh";
    box.style.marginTop="5px"

  }
  const tape12Click=()=>{
    tape.src="{%static 'img/tape11.png'%}"
    tape.style.marginTop="2vh";
    box.style.marginTop="5px"

  }


</script>
{% endblock %}