
{% extends 'base.html' %}
{% load static %}  
{% block header_css %}
<link rel="stylesheet" href= "{% static 'css/diary.css' %}" />


{% endblock %}
{% block contents %}
<div class="body">
 
  <img src="{%static 'img/tape.png'%}" id="tape">

  <div class="whole">

     <script src="../static/js/time.js"></script>

    <div class="input">
      <form action="{%url 'choosen_picture_patch' choosen_picture_dic.diary_id choosen_picture_dic.member_picture_id %}" method="Post">
      
      {% csrf_token %}
      <!-- {{ choosen_picture_dic }} -->

        <br>
        <div class="wrap">

            <select name="font-size" class="font-size">
              <option value="">글꼴크기</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="25">25</option>
            </select>
            &nbsp;
            <select name="font-type" class="font-type">
              <option value="">글꼴선택</option>
              <option value="Noto Sans Kr">Noto Sans Kr</option>
              <option value="Acc어린이마음고운체">Acc어린이마음고운체</option>
              <option value="코트라손글씨체">코트라손글씨체</option>
              <option value="KoPubWorld바탕">KoPubWorld바탕</option>
              <option value="나눔손글씨 딸에게 엄마가">나눔손글씨딸에게엄마가</option>
            </select>
          
          
            <p class="time">{{choosen_picture_dic.month}} {{choosen_picture_dic.day}}, {{choosen_picture_dic.year}}</p>
            <p class="time">{{choosen_picture_dic.day_en}}</p>
  
          

          <!-- <input type="text" class="weather" placeholder="날씨" value="{{ choosen_picture_dic.weather }}" name = "weather"/>
          <input type="text" class="feeling" placeholder="기분" value="{{ choosen_picture_dic.feeling }}" name = "feeling"/> -->
          <br>
          <input type="text" class="title" placeholder="제목" value="{{ choosen_picture_dic.title }}" name = "title"/>
    
      
        </div>  
        <div style="display: flex; justify-content: center;">
          <img src="/static/img/Line.png" id="line">


        </div>

        <textarea type="text" class="text" placeholder="내용" value="{{ choosen_picture_dic.content }}" class="text" style="word-wrap:break-word" name = "content">{{ choosen_picture_dic.content }}</textarea>
      
        <div class="save">
          <input type="submit" value="저장" class="button submit"/>
          <input type="reset" value="취소" class="button reset"/>
        </div>
      </div>  
      </form>
    </div>
  </div>
</div>

{% endblock %}