{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>일기를 잇다</title>
    <link rel="stylesheet" href="{% static '../static/css/diary.css' %}">
    <!-- <link rel="stylesheet" href="../static/css/diary.css"> -->
  </head>

  <body>


  <div class="whole">

    <div class="nav">
      <div class="nav-login">
        <ul>
          <li a href="http://www.google.com" class="login">로그인</a></li>
          <li a href="http://www.daum.net" class="member">회원가입</a></li>
        </ul>
      </div>

        <div class="nav-menu">
          <ul>
            <li a href="http://www.google.com" class="write">일기 쓰기</a></li>
            <li a href="http://www.daum.net" class="mypage">마이페이지</a></li>
          </ul>
        </div>
     </div>

     <img src="img/Line.png" id="line">

     <div class="input">
       <form action="{%url 'choosen_picture_patch' choosen_picture_dic.diary_id choosen_picture_dic.member_picture_id %}" method="Post">
      
      {% csrf_token %}
      <!-- {{ choosen_picture_dic }} -->
        <input type="text" placeholder="제목" value="{{ choosen_picture_dic.title }}" name = "title"/>
        
        <input type="text" placeholder="날씨" value="{{ choosen_picture_dic.weather }}" name = "weather"/>
    
        <input type="text" placeholder="기분" value="{{ choosen_picture_dic.feeling }}" name = "feeling"/>
        <input type="file" class="file"/>
        
        <input type="text" placeholder="내용" value="{{ choosen_picture_dic.content }}" class="text" style="word-wrap:break-word" name = "content"/>

        <div class="save">
          <input type="submit" value="저장" class="submit"/>
          <input type="reset" value="취소" class="reset"/>
        </div>
      </form>
    </div>
  </div>
  </body>
</html>