{% extends 'base.html' %}
{% load static %}
{% block header_css %}
<link rel="stylesheet" href= "{% static 'css/gallery.css' %}" />
{% endblock%}
{% block contents %}
  <div class = "container">
    <div class="box">
      <div class="logos">
        <img src={% static 'img/leftarrow.svg' %} class="arrow" />
        <img src={% static 'img/coffee.png' %} class="logo" />
        <img src={% static 'img/rightarrow.svg' %} class="arrow" />
      </div>
      <hr />
     
      <div class="box-bottom">
        
        <div class="cards">
          <a href="rocket.html">
            <img src="img/rocket.png" class="card" />
          </a>
        </div> 

      </div>
    </div>
  </div>
{% endblock %}
