<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="{%url 'choosen_picture_patch' choosen_picture_dic.diary_id choosen_picture_dic.member_picture_id %}" method="Post">
      {% csrf_token %}
      {{ choosen_picture_dic }}
      <input type="date" name="date" />
      <input type="text" placeholder="제목" value="{{ choosen_picture_dic.title }}" name = "title"/>
      <input type="file" name =  />
      <textarea> {{ choosen_picture_dic.content }} </textarea>
      <input type="submit" value="저장" />
      <input type="reset" value="취소" />
    </form>
  </body>
</html>
