<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <input type="date" />
    <input type="text" placeholder="제목" />
    <input type="file" />
    <input type="text" placeholder="내용" />
    <input type="submit" value="저장" />
    <input type="reset" value="취소" />
    {{ new_dot }}
    <section>
      <div class="date">{{diary_data.create_date}}</div>
      <div class="title">{{diary_data.title}}</div>
      <img class="img"  />
      <div class="detail">{{diary_data.content}}</div>
      <a href="{%url 'choosen_picture' choosen_picture_dic.diary_id choosen_picture_dic.member_picture_id %}"><button>수정</button></a>
    </section>
  </body>
</html>

