<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/tree.css" />
</head>
<body>
    <section class="card">
        <img src="../static/img/tree.jpg" class="img"></div>
        <div class="dots">
          <div class="column">
              <p class="num" id="num1">1</p>
              <div class="dot" id="dot1" onclick="click1()"></div>
              <div class="dot" id="dot2" onclick="click2()"></div>
              <p class="num" id="num2">2</p>
              <p class="num" id="num10">10</p>
              <div class="dot" id="dot10" onclick="click10()"></div>
              <div class="dot" id="dot11" onclick="click11()"></div>
              <p class="num" id="num11">11</p>
          </div>
          
        
            
        </div>
        <div class="canvases">
            <div class="flex">
                <div class="c12">
                    <canvas id="onetwo" width="40" height="30"></canvas>
                </div>
                <div class="c1011">
                  <canvas id="teneleven" width="40" height="30"></canvas>
                </div>
            </div>
            
            
            
            
        </div>
      </section>

      <script src="../static/js/tree.js"></script>

</body>
</html>
