{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일기를 잇다</title>
    <link rel="stylesheet" href="{% static 'accounts/css/home.css' %}">
</head>

<body background="../static/img/image 65.PNG">
     <div class="nav">
        <a href="">
            <img src="../static/img/로고.png" class="logo"/>
        </a>
     </div>

    <div class="center">
         <p class="senten">오늘의 내가 쌓여<br/>
        내일의 나를 만듭니다</p>
    </div>

    <div class="nav-menu">
        {% if user.is_authenticated %}
        <a href = "{% url 'picture_list'%}">일기쓰기</a>
        <a href="#">마이페이지</a>
        {% else %}
        <a href = "accounts/login/">로그인</a>
        <a href="accounts/signup/">회원가입</a>
        {% endif %}
       
    </div>

</body>
</html>
