<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link rel="stylesheet" href="../statics/css/signup2.css">

</head>

<body>
    <div class="Logo-Container"> 
        <img src="../statics/svg/Logo.svg" alt="logo" class="Logo">
    </div>

    <div class="Login-Container">
        <div class="Login-text">로그인</div>

        <div class="Welcome-Container">
            <div class="Welcome-text">일기를 잇다에 오신 것을 환영합니다</div>
        </div>

        <div class="Email-Container">
            <div class="Email-text">이메일을 입력하세요</div>
        </div>

        <div class="Password-Container">
            <div class="Password-text">비밀번호를 입력하세요</div>
        </div>

        <div class="Maintain-Container">
            <div class="Maintain-Circle"></div>
            <div class="Maintain-text">로그인 유지</div>
        </div>

        <div class="Easy-container">
            <hr>
            <div class="Easy-text">간편 로그인</div>
            <hr>
        </div>

        <div class="SNS-Container">
            <div class="Naver-Container">
                <div class="Naver-Logo"> 
                    <img src="../statics/svg/Naver.svg" alt="naver" class="Naver"> 
                </div>
                <div class="Naver-text">네이버</div>
            </div>

            <div class="Kakao-Container">
                <div class="Kakao-Logo">
                    <img src="../statics/svg/Kakao.svg" alt="kakao" class="Kakao">
                </div>
                <div class="Kakao-text">카카오톡</div>
            </div>

            <div class="Google-Container">
                <div class="Google-Logo">
                    <img src="../statics/svg/Google.svg" alt="google" class="Google">
                </div>
                <div class="Google-text">구글</div>
            </div>
        </div>
        
    </div>
</body>
</html>