{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block header %}
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="css/base.css' %}" />

  {% endblock %} {% block contents %}
  <div class="nav">
    <a href="{% url 'input.html'%}" id="diary">일기 쓰기</a>
    <a href="{% url 'gallery.html'%}" id="mydiary">마이 페이지</a>
    <div id="blank"></div>
    <a href="#" id="logout">로그아웃</a>
  </div>

  {% endblock %}
</html>
