<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일기를 잇다</title>
    <link rel="stylesheet" href="landing.css">
</head>

<body background="img/background.PNG">
     <div class="nav">
        <a href="#">
            <img src="img/로고.png" class="logo"/>
        </a>
     </div>

    <div class="center">
         <p class="senten">오늘의 내가 쌓여<br/>
        내일의 나를 만듭니다</p>
    </div>

    <div class="nav-menu">
        <a href="https://www.naver.com/">로그인</a>
        <a href="https://www.google.com/">회원가입</a>
    </div>

</body>
</html>
