body{
    background-color: #ECE7E1;
    
    font-family:'Malgun Gothic';
    font-size:12pt;
    margin: 0px;
    padding: 0px;

}
.container{
    display: flex;
    justify-content: center;
    flex-direction : column;
}

.container .element{
    display : flex;
    justify-content: center;
    margin-top: 30px;

}
.element_img{
    display:flex;
    justify-content: center;
}


img{
    width: 200px;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid black;
}
.button{
    border:0;
    width: 200px;
    border-radius: 15px;
    background-color: transparent;
    margin: 0px 20px;
}
.hi{
    font-family: 'Imperial Script';
    font-size: 65px;
    display: flex;
    justify-content: center;
}

