body{
    background-color: #ECE7E1;
    
    font-family:'Malgun Gothic';
    font-size:12pt;
    margin: 0px;
    padding: 0px;

}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction : column;
}

.container .element{
    display : flex;
    justify-content: space-evenly;
    
}
.element_img{
    display:flex;
    justify-content: space-evenly;
}

img{
    width: 150px;
}
button{
    border:0;
    width: 150px;

}