body{
    background-color: #ECE7E1;
    
    font-family:'Malgun Gothic';
    font-size:12pt;
    margin: 0px;
    padding: 0px;

}
p{
    margin: 0px;
    padding: 0px;

}
canvas{
    position: relative; 
    z-index: 2;
    margin: 0;
    padding: 0;
}
.canvases{
    position: absolute;
    z-index: 1;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    /* width: 300px; */
    margin-top: 201px;
    /* margin-left: 250px; */
    flex-direction: column;
}

.c12{
    width: 80px;
    height: 30px;
    margin-left: 77px;    
    transform: rotate(2deg);

}
.c89{
    width: 80px;
    height: 30px;
    /* margin-left: 159px; */
    transform: rotate(-1deg);
}
.c23{
    width: 56px;
    height: 55px;
    margin-left: 128px;
    margin-top: 3px;
}

.c78{
    width: 56px;
    height: 50px;
    /* margin-right: 12px; */
    margin-top: 5px;
    transform: rotate(7deg);
    margin-left: -5px;
}
.c34{
    width: 80px;
    height: 30px;
    margin-left: 73px;
    transform: rotate(100deg);
    margin-top: 25px;
}
.c67{
    width: 80px;
    height: 30px;
    /* margin-left: 159px; */
    transform: rotate(-102deg);
    margin-top: 25px;
    margin-left: -1px;
}
.c45{
    width: 80px;
    height: 30px;
    margin-left: 38px;
    transform: rotate(0deg);
}
.c56{
    width: 80px;
    height: 30px;
    margin-left: 35px;
    /* transform: rotate(-19deg); */
    margin-right: -35px;
}
.dot{
    background-color: rgb(160, 160, 160);
    border-radius: 100%;
    width:12px;
    height: 12px;
    border:none;
    position: relative; 
    z-index: 2;
    cursor: pointer;
    margin: 5px;    
}
.img{
    position: absolute; 
    z-index: 1;
    width: 385px;
    border-radius: 2vh;
    border: solid 1px black;
    align-items: center;

}
.input{
    display: none;
}
.card{
    display: flex;
    justify-content: center;

}
.dots{
    display: flex;

    /* justify-content: right;
    text-align: right; */
    align-items: center;
    margin-top: 190px;
    margin-right: 5px;
    flex-direction: column;
justify-content: center;
    position: relative;
    z-index: 3;
}
.num{ 
    position: relative; 
    z-index: 2;
}
.column{
    display: flex;
    margin-bottom: 25px;
    justify-content: center;

}
#d1{
    margin-right: 210px;
    margin-top: 49px;
}

#d3{
    margin-left: 77px;
    margin-top: 29px;
}


#dot9{
    margin-right: 65px;
}
#dot8{
    margin-right: 220px;
    margin-top: -10px;

}
#dot2{
    margin-top: -10px;
}
#dot7{
    margin-right: 125px;
    margin-top:10px;
}
#dot3{
    margin-top:10px;
}
#dot6{
    margin-right: 150px;
    margin-top: -20px;
}
#dot4{
    margin-top: -20px;

}
#num8{
    text-align: center;
}
#num7{
    margin-top: 15px;
}
#num3{
    margin-top: 15px;
}
.num-blank{
    margin-top:-10px;
}
.flex{
    display: flex;
    flex-direction: row;
}
/* 1590px 이상 */
@media (min-width:1590px) {
    /* .dots{
        margin-top: 40px;
    }
    #dot1{
        margin-top: 3px;
    }  */
}

/* 1400px 이하
@media (max-width:1400px) {
   #dot4{
    margin-top: -1px;
   }
  
} */
