body {
  background-color: #ECE7E1;
}

.Logo-Container {
  width: 98vw;
  margin-top: 5vh;
}

.Logo {
  width: 8vw;
  height: 17vh;
  float: right;
}

.Login-Container {
  background-color: white;
  width: 33vw;
  height: 60vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login-text {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
  line-height: 12vh;
  display: flex;
  align-items: center;
  color: black;
}

.Email-Container {
  background-color: white;
  border: 1px solid #848484;
  width: 24vw;
}

.Email-text {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 5vh;
  text-align: left;
  padding-left: 1vw;
  color: #848484;
}

.Password-Container {
  background-color: white;
  border: 1px solid #848484;
  width: 24vw;
  margin-top: 1.5%;
}

.Password-text {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 5vh;
  text-align: left;
  padding-left: 1vw;
  color: #848484;
}

.Maintain-Container {
  width: 24vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.Maintain-Circle {
  background-color: white;
  border: 1px solid #848484;
  border-radius: 50%;
  width: 1vw;
  height: 2vh;
}

.Maintain-text {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 5vh;
  text-align: center;
  color: #000000;
  margin-left: 1.5%;
}

.Search-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
  margin-top: 3%;
  margin-bottom: 3%;
}

.vl {
  border-left: 1px solid black;
  height: 3vh;
}

.Easy-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 24vw;
}

hr {
  border: 0.5px solid #848484;
  width: 8vw;
}

.Easy-text {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 5vh;
  text-align: center;
  color: #000000;
}

.SNS-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 16vw;
}

.Naver-Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.Naver-text {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 3vh;
  text-align: center;
  color: #000000;
}

.Kakao-Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Kakao-text {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 3vh;
  text-align: center;
  color: #000000;
}

.Google-Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Google-text {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 3vh;
  text-align: center;
  color: #000000;
} 